body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard-header h1 {
	margin: 1px;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.body-left p:first-child {
	margin-top: none;
}

.postcard-body {
	display: flex;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.body-left,
.body-right {
	padding: 4px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	margin-top: 6px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgrey;
	padding: 2px;
}
